
###> symfony/framework-bundle ###
/.env
/.env.prod
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> docker ###
/.docker-sync
###< docker ###

###> app ###
/.idea
###< app ###
